@model ProjetoEventos.Models.Decoracao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Decoração</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecoracaoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecoracaoTipo)
        </dd>
    </dl>
</div>
<div>
    <button><a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a></button>
    <button><a asp-action="Index">Voltar para à lista</a></button>
</div>
