@model ProjetoEventos.Models.TotalPagar

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Total à Pagar</h1>

<h4>Total Pagar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeConvidados" class="control-label"></label>
                <input asp-for="QuantidadeConvidados" class="form-control" />
                <span asp-validation-for="QuantidadeConvidados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalId" class="control-label"></label>
                <select asp-for="LocalId" class ="form-control" asp-items="ViewBag.LocalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HorarioId" class="control-label"></label>
                <select asp-for="HorarioId" class ="form-control" asp-items="ViewBag.HorarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DecoracaoId" class="control-label"></label>
                <select asp-for="DecoracaoId" class ="form-control" asp-items="ViewBag.DecoracaoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BuffetId" class="control-label"></label>
                <select asp-for="BuffetId" class ="form-control" asp-items="ViewBag.BuffetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoEventoId" class="control-label"></label>
                <select asp-for="TipoEventoId" class ="form-control" asp-items="ViewBag.TipoEventoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalValor" class="control-label"></label>
                <input asp-for="TotalValor" class="form-control" />
                <span asp-validation-for="TotalValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
