@model ProjetoEventos.Models.Buffet

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Buffet</h1>

<h4>Buffet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuffetTipo" class="control-label"></label>
                <input asp-for="BuffetTipo" class="form-control" />
                <span asp-validation-for="BuffetTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar para à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
