@model ProjetoEventos.Models.Horario

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Horário</h1>

<h4>Horário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HorarioEvento" class="control-label"></label>
                <input asp-for="HorarioEvento" class="form-control" />
                <span asp-validation-for="HorarioEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para á lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
