@model ProjetoEventos.Models.Horario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioEvento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para á lista</a>
</div>
