@{
    ViewData["Title"] = "Eventopia";
}
<link rel="stylesheet" href="/css/home.css" />
<div class="display-4">
    <span>Agende momentos inesquecíveis com a Eventopia e viva
        <br />
        experiências únicas nos melhores eventos da região!
    </span>
</div>
