@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <span class="display-4">Agende momentos inesquecíveis e viva experiências únicas nos melhores eventos da região!</span>
    <img src="/css/imagem/fundoazul.jpg"/>
</div>
