body {
    background-image: url(/imagem/fundoazul.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.display-4 {
    font-size: 30px;
    color: white;
    font-family: system-ui;
    text-align: center;
}