body {
    background-image: url(/imagem/fundoazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.display-4 {
    color: white;
    text-align: center;
    margin-top: 25rem;
    margin-right: 2rem;
    font-family: cursive;
    font-size: 30px;
}
